@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #e5e5e5;
}

header {
  width: 100%;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.header {
  min-width: 920px;
  display: flex;
  justify-content: space-between;

}

.instagram {
  display: flex;
  flex-direction: row;
}

.header-logo {
  width: 103px;
}


.border-left {
  border-left: 1px solid #DBDBDB;
  height: 22px;
  margin: 0 11px;
}

.header-icon {
  width: 22px;
  height: 22px;
}

.mobile {
  display: none;
}

.search::placeholder {
  color: #979797;
  font-size: 12px;
}

.search {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 215px;
  height: 26px;
  text-align: center;
  outline: none;
  font-weight: 400;
}

.menu {
  width: 133px;
  height: 28px;
  display: flex;
  gap: 22px;
}

.menu :nth-child(n) {
  width: 22px;
  height: 22px;
}

main {
  display: flex;
  width: 100%;
  height: 2000px;
  overflow-y: hidden;
}

.left {
  margin-top: 80px;
  width: 60%;
}

.storie-box {
  width: 614px;
  height: 118px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin: 10px 0 24px auto;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}


.storie {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 12px;
  height: 80px;

}

.storie-img-back {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.storie-img {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 5px;
}

.storie-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #262626;
  margin-top: 1px;
}

.seta {
  width: 26px;
  height: 26px;
  position: absolute;
  background-color: #FFFFFF;
  color: gray;
  right: 8px;
  top: 46px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 50%;
  z-index: 99;
}

.conteiner-feed {
  width: 614px;
  margin-left: auto;
}


.post-feed {
  background: #ffffff;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  width: 614px;
  margin-bottom: 60px;
}

.top-feed {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-feed :nth-child(1) {
  display: flex;
  align-items: center;
}

.img-usuario {
  width: 32px;
  height: 32px;
  margin: 0 15px 0 17px;
}

.nome-usuario {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}

.icon-feed {
  display: block;
  float: right;
  margin-right: 17px;
}

.img-feed {
  width: 612px;
  height: 612px;
}

.video-feed {
  width: 612px;
}

.bottom-feed {
  display: block;
  margin: 12px 17px;
}

.icon-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-post {
  width: 85%;
}

.publicar {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.button {
  color: #B2DFFC;
  display: flex;
  align-items: center;
  justify-content: end;
}

.button:hover {
  color: #0095F6;
  transition: 300ms;
  cursor: pointer;
}

ion-icon {
  width: 22px;
  height: 22px;
}

.icon3 {
  display: flex;
  flex-direction: row;
  gap: 16px
}

.img-bottom {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.msg-bottom {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

strong {
  font-weight: bold;
}

.txt-bottom {
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}

.sidebar {
  width: 293px;
  position: fixed;
  top: 113px;
  right: calc((100% - 935px) / 2);
}

.sidebar-top {
  display: flex;
  gap: 17px;
  align-items: center;
}

.sidebar-top-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}

.sidebar-title {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.margin {
  margin-top: 25px;
  margin-bottom: 18px;
}


.flex {
  display: flex;
  gap: 11px;
}

.fw-400 {
  font-weight: 400;
}

.sidebar-msg {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
}

.color-gray {
  color: #8E8E8E;
}

.color-blue {
  color: #139EF2;
}

.color-black {
  color: #262626;
}

/* inicio 935 */
@media (max-width: 935px) {

  .header {
    padding: 0 20px;
  }

  main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .left {
    width: 612px;
  }

  .storie-box {
    margin: 34px 0;
  }

  .conteiner-feed {
    margin: 0;
  }

  .sidebar {
    display: none;
  }
}


/* inicio 614 */
@media (max-width: 614px) {
  .header {
    padding: 0 20px;
    min-width: 100%;
  }

  .left {
    margin-top: 53px;
  }

  .off {
    display: none;
  }

  .mobile {
    display: flex;
    height: 22px;
    width: 22px;
  }

  .instagram {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .seta {
    display: none;
  }

  .storie-box {
    width: 614px;
    margin: 0;
    background: #E5E5E5;
  }

  .sidebar {
    display: none;
  }

}